/* Цвет основного  текста #757575 */

/* Вторичный цвет  */

/* Заголовки h1 h2 ... #212121 */

/* Белые заголовки and Color footer address #ffffff */

/* Футер номер тел и мейл rgba(255, 255, 255, 0.6); */

/* Цвет фона героя и футера #2f303a */

/* Фон Особенностей #e5e5e5 */

/* Фон Команды #f5f4fa */

/* Accent color #2196f3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background: var(--white-text-color);
}

/* Logo colors Web + Studio*/

.logo {
  color: var(--accent-color);
}

.studio-header {
  color: #000000;
}

/* Site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Header contacts */

.header-contacts {
  color: var(--primary-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title,
.hero-link {
  color: var(--white-text-color);
}

.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.hero-background,
.foot-background {
  background-color: var(--secondary-bg-color);
}

/* Section-title */

.section-title {
  color: var(--title-text-color);
}

/* Work title Чем мы занимаемся */

.work-title {
  color: var(--title-text-color);
}

/* Team-title colors */

.team-title {
  color: var(--title-text-color);
}

h2 {
  color: var(--title-text-color);
}

.team-background {
  background-color: #f5f4fa;
}

/* Footer */

.studio-footer {
  color: var(--white-text-color);
}

.footer-address {
  color: var(--white-text-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

/* Убрать маркеры */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
